$white: #fff;
$white-border: rgba(255, 255, 255, 0.432);
$white-dark:#fafafa;
$red: #c4161c;
$red-btn: #c7000b;
$red-dark: #9b0000;
$gray: #212121;
$gray-darker:#191919;
$text-dark: #242728;
$text-light: #727171;
$text-white: #ffffff;
$text-white-dark: #f4f4f4;
$text-white-darker: #dcdddd;
$text-date: #222;