@font-face {
    font-family: Myriad Pro;
    src: url(./../fonts/MyriadProLight.otf);
    font-weight: 300;
}
@font-face {
    font-family: Myriad Pro;
    src: url(./../fonts/MyriadProRegular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: Myriad Pro;
    src: url(./../fonts/MyriadProSemibold.ttf);
    font-weight: 600;
}
@font-face {
    font-family: Myriad Pro;
    src: url(./../fonts/MyriadProBold.ttf);
    font-weight: 700;
}
@font-face {
    font-family: Myriad Pro;
    src: url(./../fonts/MyriadProBlack.otf);
    font-weight: 900;
}