html {
	font-size: 0.521vw;
	font-family: "Myriad Pro", sans-serif;
	-webkit-font-smoothing: subpixel-antialiased;
	//transition: all .25s ease-in-out;
}
@media screen and (max-width: 960px) {
	html {
		font-size: 1.042vw;
	}
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
ol,
ul,
li {
	list-style: none;
}
a {
	text-decoration: none;
}
body {
	position: relative;
	background-color: rgb(203, 230, 255);
}
