@font-face {
  font-family: Myriad Pro;
  src: url(./../fonts/MyriadProLight.otf);
  font-weight: 300;
}
@font-face {
  font-family: Myriad Pro;
  src: url(./../fonts/MyriadProRegular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: Myriad Pro;
  src: url(./../fonts/MyriadProSemibold.ttf);
  font-weight: 600;
}
@font-face {
  font-family: Myriad Pro;
  src: url(./../fonts/MyriadProBold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: Myriad Pro;
  src: url(./../fonts/MyriadProBlack.otf);
  font-weight: 900;
}
html {
  font-size: 0.521vw;
  font-family: "Myriad Pro", sans-serif;
  -webkit-font-smoothing: subpixel-antialiased;
}

@media screen and (max-width: 960px) {
  html {
    font-size: 1.042vw;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ol,
ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  position: relative;
  background-color: rgb(129, 155, 179);
}

.container {
  width: 81.6%;
  margin: 0 auto;
}

@-webkit-keyframes titlebar {
  0% {
    width: 0;
  }
  100% {
    width: 10rem;
  }
}

@keyframes titlebar {
  0% {
    width: 0;
  }
  100% {
    width: 10rem;
  }
}
.top-navbar-text {
  font-size: 1.6rem;
  color: #fff;
}

.nav-menu-link {
  font-size: 1.8rem;
  color: #fff;
  font-weight: 600;
}

.nav-icon {
  color: #fff;
  font-size: 1.8rem;
}

.menu-tab-btn {
  font-size: 1.8rem;
  color: #fff;
}

.banner-title {
  font-size: 7rem;
  color: #fff;
  line-height: 7.7rem;
}

.banner-desc {
  font-size: 2.2rem;
  color: #fff;
  line-height: 3.6rem;
}

.text-title-lg {
  font-size: 5.6rem;
  color: #242728;
  line-height: 6.2rem;
  font-weight: 700;
  position: relative;
}
.text-title-lg::before {
  content: "";
  position: absolute;
  left: 0;
  top: -1rem;
  height: 1rem;
  width: 10rem;
  z-index: -1;
  background-color: #9b0000;
  -webkit-animation: titlebar 0.5s ease-in-out;
          animation: titlebar 0.5s ease-in-out;
}

.text-desc {
  font-size: 2.2rem;
  color: #727171;
  line-height: 3.6rem;
  position: relative;
}

.text-title-sm {
  font-size: 2.4rem;
  color: #242728;
  font-weight: 700;
  margin-bottom: 2rem;
}

.text-content-title {
  font-size: 2.4rem;
  color: #242728;
  line-height: 3.9rem;
  font-weight: 600;
}

.text-content-type {
  font-size: 1.4rem;
  color: #c7000b;
}

.text-content-date {
  font-size: 1.4rem;
  color: #222;
}

.text-footer-menu-title {
  font-size: 1.8rem;
  font-weight: 600;
  color: #f4f4f4;
}

.text-footer-menu-link {
  font-size: 1.6rem;
  color: #f4f4f4;
}

.text-footer-title {
  font-size: 1.8rem;
  color: #dcdddd;
}

.text-footer-link {
  font-size: 1.4rem;
  color: #dcdddd;
}

.bg-dark {
  background-color: #191919;
}

.w-40 {
  width: 40%;
}

.btn-primary {
  font-family: "Myriad Pro", sans-serif;
  margin: 4.5rem 0 0 0;
  padding: 1.5rem 3rem;
  font-size: 1.6rem;
  font-weight: 500;
  color: #c7000b;
  border: 1px solid #9b0000;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}
.btn-primary:hover {
  color: #fff;
  background-color: #c7000b;
}

.btn-dark {
  font-family: "Myriad Pro", sans-serif;
  margin: 4.5rem 0 0 0;
  padding: 1.5rem 3rem;
  font-size: 1.6rem;
  font-weight: 500;
  color: #c7000b;
  border: 1px solid #9b0000;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  color: #fff;
  border: 1px solid #fff;
}
.btn-dark:hover {
  color: #fff;
  background-color: #c7000b;
  border-color: #9b0000;
}

section.nav {
  width: 100%;
  z-index: 100;
}
section.nav .nav-topbar {
  padding-block: 1.5rem;
  border-bottom: 0.1rem solid rgba(255, 255, 255, 0.432);
}
section.nav .nav-topbar:hover {
  background-color: #c4161c;
}
section.nav .nav-topbar .container {
  display: flex;
  justify-content: flex-end;
}
section.nav .nav-topbar .container .topbar-links {
  display: flex;
}
section.nav .nav-topbar .container .topbar-links .top-navbar-text {
  border-right: 0.1rem solid #fff;
  padding-inline: 3.6rem;
}
section.nav .nav-topbar .container .topbar-links .language {
  padding-right: unset;
  border: unset;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
section.nav .nav-topbar .container .topbar-links .language i {
  margin-right: 2rem;
  font-weight: 300;
  font-size: 2rem;
}
section.nav .nav-main {
  height: 8rem;
  display: flex;
  align-items: center;
}
section.nav .nav-main .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: inherit;
}
section.nav .nav-main .container .nav-left {
  height: inherit;
  display: flex;
  align-items: center;
}
section.nav .nav-main .container .nav-left .logo {
  aspect-ratio: 1644/410;
  height: 3rem;
  background-image: url(./../img/logo_white.png);
  background-size: contain;
  background-repeat: no-repeat;
}
section.nav .nav-main .container .nav-left .nav-links {
  display: flex;
  align-items: center;
  margin-left: 14rem;
  height: inherit;
  z-index: 10;
}
section.nav .nav-main .container .nav-left .nav-links li.main-menu-link-list {
  height: inherit;
  display: flex;
  align-items: center;
  padding-inline: 3rem;
  position: relative;
}
section.nav .nav-main .container .nav-left .nav-links li.main-menu-link-list::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.2rem;
  background-color: #c4161c;
  opacity: 0;
}
section.nav .nav-main .container .nav-left .nav-links li.main-menu-link-list:hover::before {
  opacity: 1;
}
section.nav .nav-main .container .nav-left .nav-links .product-list {
  position: relative;
  transform: rotate(0deg);
}
section.nav .nav-main .container .nav-left .nav-links .product-list .main-tab-title {
  display: none;
  position: fixed;
  min-width: 33rem;
  background: #fff;
  top: 8rem;
  left: -26rem;
  height: 50rem;
}
section.nav .nav-main .container .nav-left .nav-links .product-list .main-tab-title .tab-wrapper {
  margin-top: 7rem;
}
section.nav .nav-main .container .nav-left .nav-links .product-list .main-tab-title .tab-wrapper li.tab-title {
  position: relative;
  padding-block: 3rem;
  margin-bottom: 2rem;
}
section.nav .nav-main .container .nav-left .nav-links .product-list .main-tab-title .tab-wrapper li.tab-title a.tab-link {
  color: #242728;
  margin-left: 4rem;
}
section.nav .nav-main .container .nav-left .nav-links .product-list .main-tab-title .tab-wrapper li.tab-title:hover {
  background-color: #c4161c;
}
section.nav .nav-main .container .nav-left .nav-links .product-list .main-tab-title .tab-wrapper li.tab-title:hover a.tab-link {
  color: #fff;
}
section.nav .nav-main .container .nav-left .nav-links .product-list .main-tab-title .tab-wrapper li.tab-title .submenu {
  height: 50rem;
  display: none;
  position: fixed;
  background-color: #fff;
  min-width: 33rem;
  border-left: 0.1rem solid #dcdddd;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #dcdddd #fff;
}
section.nav .nav-main .container .nav-left .nav-links .product-list .main-tab-title .tab-wrapper li.tab-title .submenu::scrollbar {
  width: 4rem;
}
section.nav .nav-main .container .nav-left .nav-links .product-list .main-tab-title .tab-wrapper li.tab-title .submenu .submenu-wrapper {
  padding: 2rem 0 2.3rem 0;
}
section.nav .nav-main .container .nav-left .nav-links .product-list .main-tab-title .tab-wrapper li.tab-title .submenu .submenu-wrapper .submenu-list a.submenu-link {
  border-bottom: 0.1rem solid #dcdddd;
  width: 80%;
  margin: 0 auto;
  color: #242728;
  display: block;
  padding-block: 1.64rem;
}
section.nav .nav-main .container .nav-left .nav-links .product-list .main-tab-title .tab-wrapper li.tab-title .submenu .submenu-wrapper .submenu-list .icon-arrow-right {
  font-size: 1.1rem;
  font-weight: 600;
  opacity: 0.4;
}
section.nav .nav-main .container .nav-left .nav-links .product-list .main-tab-title .tab-wrapper li.tab-title .submenu .submenu-wrapper .has-icon {
  position: relative;
}
section.nav .nav-main .container .nav-left .nav-links .product-list .main-tab-title .tab-wrapper li.tab-title .submenu .submenu-wrapper .has-icon .icon-arrow-right {
  position: absolute;
  top: 50%;
  right: 4rem;
  transform: translateY(-50%);
}
section.nav .nav-main .container .nav-left .nav-links .product-list .main-tab-title .tab-wrapper li.tab-title .submenu .submenu-wrapper .submenu1-link1:hover .submenu11 {
  display: block;
}
section.nav .nav-main .container .nav-left .nav-links .product-list .main-tab-title .tab-wrapper li.tab-title .submenu .submenu-wrapper .submenu1-link2:hover .submenu12 {
  display: block;
}
section.nav .nav-main .container .nav-left .nav-links .product-list .main-tab-title .tab-wrapper li.tab-title .submenu .submenu-wrapper .submenu1-link3 {
  position: relative;
}
section.nav .nav-main .container .nav-left .nav-links .product-list .main-tab-title .tab-wrapper li.tab-title .submenu .submenu-wrapper .submenu1-link3:hover .submenu13 {
  display: block;
}
section.nav .nav-main .container .nav-left .nav-links .product-list .main-tab-title .tab-wrapper li.tab-title .submenu .submenu-wrapper .submenu11-link1 {
  position: relative;
}
section.nav .nav-main .container .nav-left .nav-links .product-list .main-tab-title .tab-wrapper li.tab-title .submenu .submenu-wrapper .submenu11-link1:hover .submenu111 {
  display: block;
}
section.nav .nav-main .container .nav-left .nav-links .product-list .main-tab-title .tab-wrapper li.tab-title .submenu .submenu-wrapper .submenu111-link1 {
  position: relative;
}
section.nav .nav-main .container .nav-left .nav-links .product-list .main-tab-title .tab-wrapper li.tab-title .submenu .submenu-wrapper .submenu111-link1:hover .submenu1111 {
  display: block;
}
section.nav .nav-main .container .nav-left .nav-links .product-list .main-tab-title .tab-wrapper li.tab-title .submenu .submenu-wrapper .submenu11-list:hover .submenu11-link {
  color: #c4161c;
}
section.nav .nav-main .container .nav-left .nav-links .product-list .main-tab-title .tab-wrapper li.tab-title .submenu .submenu-wrapper .submenu11-list:hover .submenu11-icon {
  color: #c4161c;
  opacity: 1;
}
section.nav .nav-main .container .nav-left .nav-links .product-list .main-tab-title .tab-wrapper li.tab-title .submenu .submenu-wrapper .submenu111-list:hover .submenu111-link {
  color: #c4161c;
}
section.nav .nav-main .container .nav-left .nav-links .product-list .main-tab-title .tab-wrapper li.tab-title .submenu .submenu-wrapper .submenu111-list:hover .submenu111-icon {
  color: #c4161c;
  opacity: 1;
}
section.nav .nav-main .container .nav-left .nav-links .product-list .main-tab-title .tab-wrapper li.tab-title .submenu .submenu-wrapper .submenu1111-list:hover .submenu1111-link {
  color: #c4161c;
}
section.nav .nav-main .container .nav-left .nav-links .product-list .main-tab-title .tab-wrapper li.tab-title .submenu .submenu-wrapper .submenu1111-list:hover .submenu1111-icon {
  color: #c4161c;
  opacity: 1;
}
section.nav .nav-main .container .nav-left .nav-links .product-list .main-tab-title .tab-wrapper li.tab-title .submenu::-webkit-scrollbar {
  width: 0.4rem;
  border-radius: 3rem;
}
section.nav .nav-main .container .nav-left .nav-links .product-list .main-tab-title .tab-wrapper li.tab-title .submenu::-webkit-scrollbar-thumb {
  background-color: #dcdddd;
}
section.nav .nav-main .container .nav-left .nav-links .product-list .main-tab-title .tab-wrapper li.tab-title .submenu::-webkit-scrollbar-track {
  background-color: #fff;
}
section.nav .nav-main .container .nav-left .nav-links .product-list .main-tab-title .tab-wrapper li.tab-title .submenu1 {
  top: 8rem;
  left: 7rem;
}
section.nav .nav-main .container .nav-left .nav-links .product-list .main-tab-title .tab-wrapper li.tab-title .submenu1 .submenu-wrapper .submenu-list {
  position: relative;
}
section.nav .nav-main .container .nav-left .nav-links .product-list .main-tab-title .tab-wrapper li.tab-title .submenu1 .submenu-wrapper .submenu1-list:hover .submenu1-link {
  color: #c4161c;
}
section.nav .nav-main .container .nav-left .nav-links .product-list .main-tab-title .tab-wrapper li.tab-title .submenu1 .submenu-wrapper .submenu1-list:hover .submenu1-icon {
  color: #c4161c;
  opacity: 1;
}
section.nav .nav-main .container .nav-left .nav-links .product-list .main-tab-title .tab-wrapper li.tab-title .submenu11, section.nav .nav-main .container .nav-left .nav-links .product-list .main-tab-title .tab-wrapper li.tab-title .submenu12, section.nav .nav-main .container .nav-left .nav-links .product-list .main-tab-title .tab-wrapper li.tab-title .submenu13 {
  top: 8rem;
  left: 40rem;
  display: none;
}
section.nav .nav-main .container .nav-left .nav-links .product-list .main-tab-title .tab-wrapper li.tab-title .submenu111 {
  top: 8rem;
  left: 73rem;
  display: none;
}
section.nav .nav-main .container .nav-left .nav-links .product-list .main-tab-title .tab-wrapper li.tab-title .submenu1111 {
  top: 8rem;
  left: 106rem;
  display: none;
}
section.nav .nav-main .container .nav-left .nav-links .product-list .main-tab-title .tab-wrapper .tab-solution:hover .submenu1 {
  display: block;
}
section.nav .nav-main .container .nav-left .nav-links .product-list .main-tab-title .tab-wrapper .tab-products:hover .submenu2 {
  display: block;
}
section.nav .nav-main .container .nav-left .nav-links .product-list:hover .main-tab-title {
  display: block;
}
section.nav .nav-main .container .nav-right {
  display: flex;
  align-items: center;
  gap: 6rem;
}
section.nav .nav-main .container .nav-right a i {
  font-size: 2rem;
}
section.nav:hover .nav-topbar {
  background-color: #c4161c;
}
section.nav:hover .nav-main {
  background-color: #fff;
}
section.nav:hover .nav-main .container .nav-left .logo {
  background-image: url(./../img/logo_red.png);
}
section.nav:hover .nav-main .container .nav-left .nav-links li a {
  color: #242728;
}
section.nav:hover .nav-main .container .nav-right a i {
  color: #242728;
}

section.test {
  height: 150rem;
  background-color: antiquewhite;
}

.no-border {
  border: none !important;
}/*# sourceMappingURL=main.css.map */