@font-face {
  font-family: Myriad Pro;
  src: url(./../fonts/MyriadProLight.otf);
  font-weight: 300;
}
@font-face {
  font-family: Myriad Pro;
  src: url(./../fonts/MyriadProRegular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: Myriad Pro;
  src: url(./../fonts/MyriadProSemibold.ttf);
  font-weight: 600;
}
@font-face {
  font-family: Myriad Pro;
  src: url(./../fonts/MyriadProBold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: Myriad Pro;
  src: url(./../fonts/MyriadProBlack.otf);
  font-weight: 900;
}
html {
  font-size: 0.521vw;
  font-family: "Myriad Pro", sans-serif;
  -webkit-font-smoothing: subpixel-antialiased;
}

@media screen and (max-width: 960px) {
  html {
    font-size: 1.042vw;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ol, ul, li {
  list-style: none;
}

a {
  text-decoration: none;
}

@-webkit-keyframes titlebar {
  0% {
    width: 0;
  }
  100% {
    width: 10rem;
  }
}

@keyframes titlebar {
  0% {
    width: 0;
  }
  100% {
    width: 10rem;
  }
}
.top-navbar-text {
  font-size: 1.6rem;
  color: #fff;
}

.nav-menu-link {
  font-size: 1.8rem;
  color: #fff;
  font-weight: 600;
}

.menu-tab-btn {
  font-size: 1.8rem;
  color: #fff;
}

.banner-title {
  font-size: 7rem;
  color: #fff;
  line-height: 7.7rem;
}

.banner-desc {
  font-size: 2.2rem;
  color: #fff;
  line-height: 3.6rem;
}

.text-title-lg {
  font-size: 5.6rem;
  color: #242728;
  line-height: 6.2rem;
  font-weight: 700;
  position: relative;
}
.text-title-lg::before {
  content: "";
  position: absolute;
  left: 0;
  top: -1rem;
  height: 1rem;
  width: 10rem;
  z-index: -1;
  background-color: #9b0000;
  -webkit-animation: titlebar 0.5s ease-in-out;
          animation: titlebar 0.5s ease-in-out;
}

.text-desc {
  font-size: 2.2rem;
  color: #727171;
  line-height: 3.6rem;
  position: relative;
}

.text-title-sm {
  font-size: 2.4rem;
  color: #242728;
  font-weight: 700;
  margin-bottom: 2rem;
}

.text-content-title {
  font-size: 2.4rem;
  color: #242728;
  line-height: 3.9rem;
  font-weight: 600;
}

.text-content-type {
  font-size: 1.4rem;
  color: #c7000b;
}

.text-content-date {
  font-size: 1.4rem;
  color: #222;
}

.text-footer-menu-title {
  font-size: 1.8rem;
  font-weight: 600;
  color: #f4f4f4;
}

.text-footer-menu-link {
  font-size: 1.6rem;
  color: #f4f4f4;
}

.text-footer-title {
  font-size: 1.8rem;
  color: #dcdddd;
}

.text-footer-link {
  font-size: 1.4rem;
  color: #dcdddd;
}

.bg-dark {
  background-color: #191919;
}

.w-40 {
  width: 40%;
}

.btn-primary {
  font-family: "Myriad Pro", sans-serif;
  margin: 4.5rem 0 0 0;
  padding: 1.5rem 3rem;
  font-size: 1.6rem;
  font-weight: 500;
  color: #c7000b;
  border: 1px solid #9b0000;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}
.btn-primary:hover {
  color: #fff;
  background-color: #c7000b;
}

.btn-dark {
  font-family: "Myriad Pro", sans-serif;
  margin: 4.5rem 0 0 0;
  padding: 1.5rem 3rem;
  font-size: 1.6rem;
  font-weight: 500;
  color: #c7000b;
  border: 1px solid #9b0000;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  color: #fff;
  border: 1px solid #fff;
}
.btn-dark:hover {
  color: #fff;
  background-color: #c7000b;
  border-color: #9b0000;
}

.font-test {
  font-family: "Myriad Pro", sans-serif;
  font-weight: 300;
}

.font-test-semibold {
  font-family: "Myriad Pro", sans-serif;
  font-weight: 600;
}

.font-test-bold {
  font-family: "Myriad Pro", sans-serif;
  font-weight: 700;
}

.font-test-black {
  font-family: "Myriad Pro", sans-serif;
  font-weight: 900;
}

.font-test-regular {
  font-family: "Myriad Pro", sans-serif;
  font-weight: 400;
}/*# sourceMappingURL=main.css.map */