section.nav {
	width: 100%;
	z-index: 100;
	.nav-topbar {
		padding-block: 1.6rem;
		border-bottom: 0.1rem solid $white-border;
		&:hover {
			background-color: $red;
		}
		.container {
			display: flex;
			justify-content: flex-end;
			.topbar-links {
				display: flex;
				.top-navbar-text {
					border-right: 0.1rem solid $white;
					padding-inline: 3.6rem;
				}
				.language {
					padding-right: unset;
					border: unset;
					display: flex;
					align-items: center;
					justify-content: space-between;
					i {
						margin-right: 2rem;
						font-weight: 300;
						font-size: 2rem;
					}
				}
			}
		}
	}
	.nav-main {
		height: 8rem;
		display: flex;
		align-items: center;
		.container {
			display: flex;
			justify-content: space-between;
			align-items: center;
			height: inherit;
			.nav-left {
				height: inherit;
				display: flex;
				align-items: center;
				.logo {
					aspect-ratio: 1644/410;
					height: 3rem;
					background-image: url(./../img/logo_white.png);
					background-size: contain;
					background-repeat: no-repeat;
				}
				.nav-links {
					display: flex;
					align-items: center;
					margin-left: 14rem;
					height: inherit;
					z-index: 10;
					li.main-menu-link-list {
						height: inherit;
						display: flex;
						align-items: center;
						padding-inline: 3rem;
						position: relative;
						&::before {
							content: "";
							position: absolute;
							bottom: 0;
							left: 0;
							width: 100%;
							height: 0.2rem;
							background-color: $red;
							opacity: 0;
						}
						&:hover::before {
							opacity: 1;
						}
					}
					.product-list {
						position: relative;
						transform: rotate(0deg);
						.main-tab-title {
							@include displayNone;
							position: fixed;
							min-width: 34rem;
							background: #fff;
							top: 8rem;
							left: -26rem;
							@include dropdownHeight;
							.tab-wrapper {
								margin-top: 7rem;
								li.tab-title {
									position: relative;
									padding-block: 3rem;
									margin-bottom: 2rem;
									a.tab-link {
										color: $text-dark;
										margin-left: 4rem;
									}
									&:hover {
										background-color: $red;
										a.tab-link {
											color: $white;
										}
									}
									.submenu {
										@include dropdownHeight;
										@include displayNone;
										position: fixed;
										background-color: $white;
										min-width: 40rem;
										border-left: 0.1rem solid $text-white-darker;
										overflow-y: auto;
										&::scrollbar {
											width: 4rem;
										  }
										.submenu-wrapper {
											padding: 2rem 0 2.3rem 0;
											.submenu-list {
												a.submenu-link {
													border-bottom: 0.1rem solid $text-white-darker;
													width: 80%;
													margin: 0 auto;
													color: $text-dark;
													display: block;
													padding-block: 1.64rem;
												}
												.icon-arrow-right {
													font-size: 1.1rem;
													font-weight: 600;
													opacity: 0.4;
												}
											}
											.has-icon {
												position: relative;
												.icon-arrow-right {
													position: absolute;
													top: 50%;
													right: 4rem;
													transform: translateY(-50%);
												}
											}
											.submenu1-link1 {
												&:hover {
													.submenu11 {
														display: block;
													}
												}
											}
											.submenu1-link2 {
												&:hover {
													.submenu12 {
														display: block;
													}
												}
											}
											.submenu1-link3 {
												position: relative;
												&:hover {
													.submenu13 {
														display: block;
													}
												}
											}
											.submenu11-list:hover{
												.submenu11-link{
													color: $red;
												}
											}
										}
										//for firefox
										scrollbar-width: thin;
										scrollbar-color: $text-white-darker $white;

										//for webkit browsers

										&::-webkit-scrollbar{
											width: .4rem;
											border-radius: 3rem;
										  }
										&::-webkit-scrollbar-thumb{
											background-color: $text-white-darker;
										  }
										&::-webkit-scrollbar-track{
											background-color: $white;
										  }
									}
									
									.submenu1 {
										top: 8rem;
										left: 8rem;
										.submenu-wrapper {
											.submenu-list {
												position: relative;
											}
											.submenu1-list:hover {
												.submenu1-link {
													color: $red;
												}
												.submenu1-icon {
													color: $red;
													opacity: 1;
												}
											}
										}
									}
									.submenu11 {
										top: 8rem;
										left: 48rem;
										@include displayNone;
									}
									.submenu12 {
										top: 8rem;
										left: 48rem;
										@include displayNone;
									}
									.submenu13 {
										top: 8rem;
										left: 48rem;
										@include displayNone;
									}
								}
								.tab-solution {
									&:hover {
										.submenu1 {
											display: block;
										}
									}
								}
							}
						}
						&:hover {
							.main-tab-title {
								display: block;
							}
						}
					}
				}
			}
			.nav-right {
				display: flex;
				align-items: center;
				gap: 6rem;
				a {
					i {
						font-size: 2rem;
					}
				}
			}
		}
	}

	//==================when hovered===================

	&:hover {
		.nav-topbar {
			background-color: $red;
		}
		.nav-main {
			background-color: $white;
			.container {
				.nav-left {
					.logo {
						background-image: url(./../img/logo_red.png);
					}
					.nav-links {
						li {
							a {
								color: $text-dark;
							}
						}
					}
				}
				.nav-right {
					a {
						i {
							color: $text-dark;
						}
					}
				}
			}
		}
	}
}
section.test {
	height: 150rem;
	background-color: antiquewhite;
}

.no-border {
	border: none !important;
}
